article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}

html, body{ 
	
	height: 100%; 	
}

body{
	background-color:#e8acb4;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#e8acb4, endColorstr=#6fb7d9);
	background-image:-moz-linear-gradient(right top, #e8acb4 0%, #6fb7d9 70%,#bd7abf 0%);
	background-image:linear-gradient(right top, #e8acb4 0%, #6fb7d9 70%,#bd7abf 0%);
	background-image:-webkit-linear-gradient(right top, #e8acb4 0%, #6fb7d9 70%,#bd7abf 0%);
	background-image:-o-linear-gradient(right top, #e8acb4 0%, #6fb7d9 70%,#bd7abf 0%);
	background-image:-ms-linear-gradient(right top, #e8acb4 0%, #6fb7d9 70%,#bd7abf 0%);
	background-image:-webkit-gradient(linear, right top, left bottom, color-stop(0%,#e8acb4), color-stop(70%,#6fb7d9),color-stop(0%,#bd7abf));
	background-attachment: fixed;
	
}

input[type = submit] {
	background-color: #4169e1;
}

input[value] {
	color: white;
}

.Event{
	display: flex;
	/* flex-flow: row nowrap; */
	/* justify-content: center; */
	/* align-content: center; */
	align-items: center;
	flex: 1 1 auto;
	width: 70%;
	/* text-align: justify; */
	font-size: 19px;
	margin: auto 10px;
}

.Event p {
	width: 30%;
}

.labels{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex: 1 1 auto;
	width: 60%;
	text-align: justify;
	font-size: 21px;
	font-family: Didot, serif;
	font-weight: normal;
	text-shadow: 2px 2px 4px #000000;
	color: white;
	
}

.labels p{
	padding-left: 10%;
	text-align: justify-content;

}
